In [25]:
import pandas as pd

data = pd.read_csv("/content/clean_dataset.csv", on_bad_lines='skip')

print(data.info())
print(data.describe())
print(data['Label'].value_counts())

X = data['Text'].str.lower()
y = data['Label']



X.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4166 entries, 0 to 4165
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    4161 non-null   object
 1   Label   4166 non-null   int64
dtypes: int64(1), object(1)
memory usage: 65.2+ KB
None
             Label
count  4166.000000
mean      0.328133
std       0.469590
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Label
0    2799
1    1367
Name: count, dtype: int64

0    greetings you are receiving this letter becaus...
1    the need for safety is real in number you migh...
2    bonus fat absorbers as seen on tv included fre...
3    bonus fat absorbers as seen on tv included fre...
4    government grants e book number edition just n...
Name: Text, dtype: object

In [26]:
y.head()
y.tail()

4161    0
4162    0
4163    0
4164    0
4165    0
Name: Label, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import StandardScaler


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

X_train = X_train.fillna("")
X_test = X_test.fillna("")


svm_clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('lin_svc', LinearSVC(fit_intercept=True, C=1))
])


svm_clf.fit(X_train, y_train)
y_pred = svm_clf.predict(X_test)

/usr/local/lib/python3.12/dist-packages/sklearn/svm/_base.py:1249: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [28]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

score = accuracy_score(y_test, y_pred)
conf_matr = confusion_matrix(y_test, y_pred)
report = classification_report(y_test,y_pred)


print(f"SVM Score: {score}")
print(f"SVm confusion_matrix: {conf_matr}")
print(f"{report}")

SVM Score: 0.9683301343570058
SVm confusion_matrix: [[669  13]
 [ 20 340]]
              precision    recall  f1-score   support

           0       0.97      0.98      0.98       682
           1       0.96      0.94      0.95       360

    accuracy                           0.97      1042
   macro avg       0.97      0.96      0.96      1042
weighted avg       0.97      0.97      0.97      1042